<!DOCTYPE html>
<html>
<head>
<title>Sorteio de vagas de estacionamento do Condomínio Grand Life Ipiranga</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="./css/style.css" rel='stylesheet' type='text/css' />
<link href='./css/notify.min.css' rel='stylesheet' type='text/css' />
<link href='./css/sticky.css' rel='stylesheet' type='text/css' />
<link rel="icon" type="image/png" href="./images/sve.png">
</head>
<body>
<%- include('navbar.ejs') %>

  <!-- Form Section -->
  <div class="w3-container w3-light-grey" style="padding:78px 16px;" id="meusdados">
    <div style="padding: 10px; box-shadow: 0 3px 18px 8px rgb(38 24 24 / 25%);">
      <h3 class="w3-center">Meus dados</h3>
      <% if(vaga_sorteada == null && !usuario_admin) { %>
        <p class="w3-center w3-medium">Atualize suas informações para participar do sorteio.</p>
      <% } %>
      <div style="margin-top:28px; width: 90%; margin: auto;">
        <div>
          <form id="form1" action="/meusdados" method="POST">
            <div class="w3-row">
              <div class="w3-col m6 l6" style="padding-right:10px;">
                <p>
                  <label class="w3-label">Nome</label>
                  <input class="w3-input w3-border" type="text" disabled name="name" value="<%= name %>">
                </p>
              </div>
              <div class="w3-col m6 l6">
                <p>
                  <label class="w3-label">Email</label>
                  <input class="w3-input w3-border" type="text" disabled name="email" value="<%= email %>">
                </p>
              </div>
            </div>

            <% if(vaga_sorteada == null) { %>
              <p>
                <% if(!usuario_admin) { %>
                  <div class="w3-row">
                    <div class="w3-col m6 l6" style="padding-right:10px;">
                      <p>
                        <label class="w3-label">Unidade:</label>
                        <input class="w3-input w3-border" type="text" disabled name="unidade_desabilitada" value="<%= unidade %>">
                        <input type="text" id="unidade" name="unidade" style="display: none;" value="<%= unidade %>">
                      </p>
                    </div>
                    <div class="w3-col m6 l6">
                      <p>
                        <label class="w3-label">Vagas Selecionadas:</label>
                        <textarea class="w3-input w3-border" type="areatext" name="sequencia_vagas_escolhidas" 
                          id="sequencia_vagas_escolhidas" style="display: none;" value=""></textarea>
                        <textarea class="w3-input w3-border" type="areatext" disabled name="_vagas_escolhidas" 
                          id="_vagas_escolhidas" style="display: none;" value=""></textarea>
                        <p class="w3-input w3-border" id="pvagas_escolhidas" style="background: white; margin-top: -15px;"></p>
                      </p>
                    </div>
                  </div>
                <% } %>
              </p>
              <div class="w3-bar" >
                <% if(!usuario_admin && configuracao.resultado_bloqueio == 'Sorteio não bloqueado' && 
                  configuracao.resultado_sorteio == 'Sorteio não realizado') { %>
                  <input id="S1b" type="button" class="aba-subsolo aba-subsolo-foco" value="Sub-solo 1">
                  <input id="S2b" type="button" class="aba-subsolo" value="Sub-solo 2">
                  <input id="S3b" type="button" class="aba-subsolo" value="Mapa S1">
                <% } else { %>
                  <input id="S1b" type="button" class="aba-subsolo aba-subsolo-foco" value="Sub-solo 1" style="display:none">
                  <input id="S2b" type="button" class="aba-subsolo" value="Sub-solo 2" style="display:none">
                  <input id="S3b" type="button" class="aba-subsolo aba-subsolo-foco" value="Mapa S1">
                  <% } %>
                <input id="S4b" type="button" class="aba-subsolo" value="Mapa S2">
                <script>
                  document.getElementById('S1b').addEventListener('click', function() { abreSubsolo('S1') })                      
                  document.getElementById('S2b').addEventListener('click', function() { abreSubsolo('S2') })                      
                  document.getElementById('S3b').addEventListener('click', function() { abreSubsolo('S3') })                      
                  document.getElementById('S4b').addEventListener('click', function() { abreSubsolo('S4') })                      
                </script>
              </div>              
              <% if(!usuario_admin && configuracao.resultado_bloqueio == 'Sorteio não bloqueado' && 
                configuracao.resultado_sorteio == 'Sorteio não realizado') { %>
                <div id="S1" class="cards subsolo w3-border">                      
                    <% lista_vagas.forEach(function(row) { %>
                        <% if (row.codigo.substring(0,2) == 'S1' ) { %>
                            <div id="<%- row.codigo %>card" class="card">
                                <div id="<%- row.codigo %>c" class="res-circle">
                                    <div id="<%- row.codigo %>t" class="circle-txt">
                                        G<%- row.codigo.substring(3) %>
                                    </div>
                                </div>
                            </div>
                            <script>
                              document.getElementById('<%- row.codigo %>card').addEventListener('click', 
                                function() { unidadeClicada('<%- row.codigo %>', true) })                      
                            </script>
                        <% } %>
                    <% }) %>
                </div>
                <div id="S2" class="cards subsolo w3-border" style="display:none">                     
                  <% lista_vagas.forEach(function(row) {
                      if (row.codigo.substring(0,2) == 'S2' ) { %>
                          <div id="<%- row.codigo %>card" class="card">
                              <div id="<%- row.codigo %>c" class="res-circle">
                                  <div id="<%- row.codigo %>t" class="circle-txt">
                                      G<%- row.codigo.substring(3) %>
                                  </div>
                              </div>
                          </div>
                          <script>
                            document.getElementById('<%- row.codigo %>card').addEventListener('click', 
                              function() { unidadeClicada('<%- row.codigo %>', true) })                      
                          </script>
                      <% } %>
                  <% }) %>
                </div>
              <% } %>               
              <% if(!usuario_admin && configuracao.resultado_bloqueio == 'Sorteio não bloqueado' && 
                configuracao.resultado_sorteio == 'Sorteio não realizado' ) { %>
                <div id="S3" class="subsolo" style="display:none">
                  <img src="../images/subsolo1.jpg" width="100%">
                </div>
              <% } else { %>
                <div id="S3" class="subsolo">
                  <img src="../images/subsolo1.jpg" width="100%">
                </div>
              <% } %>                
              <div id="S4" class="subsolo" style="display:none"> 
                <img src="../images/subsolo2.jpg" width="100%">
              </div>
            <% } else { %>
              <div class="w3-row">
                <div class="w3-col m6 l6" style="padding-right:10px;">
                  <p>
                    <label class="w3-label">Unidade: T + (torre 1 ou 2) + (número do apartamento)</label>
                    <input class="w3-input w3-border" type="text" required name="unidade" value="<%= unidade %>" disabled>
                  </p>                  
                </div>
                <div class="w3-col m6 l6">
                  <p>
                    <label class="w3-label">Vaga sorteada: S + (subsolo 1 ou 2) + (número da vaga)</label>
                    <input class="w3-input w3-border" type="text" required name="unidade" value="<%= vaga_sorteada %>" disabled>
                  </p>
                </div>
              </div>
              <p>
                <label class="w3-label">Vagas Selecionadas:</label>
                <textarea class="w3-input w3-border" type="areatext" disabled name="_vagas_escolhidas" 
                  id="_vagas_escolhidas" style="display: none"  rows="1" value=""></textarea>
                  <p class="w3-input w3-border" id="pvagas_escolhidas" style="background: white; margin-top: -15px;"></p>
              </p>
            <% } %>
            <% if(vaga_sorteada == null && !usuario_admin && 
              configuracao.resultado_bloqueio == 'Sorteio não bloqueado' && 
              configuracao.resultado_sorteio == 'Sorteio não realizado') { %>
              <p>
                <div class="w3-bar">
                  <input type="text" id="vagas_escolhidas" name="vagas_escolhidas" style="display: none;">                
                  <button class="w3-button w3-black w3-padding-small" type="submit">
                    <i class="fa fa-paper-plane"></i> ENVIAR
                  </button>
                  <button id="removerVagas" class="w3-button w3-black w3-padding-small" type="button">
                    <i class="fa fa-trash"></i> REMOVER VAGAS
                  </button>
                  <script>
                    document.getElementById('removerVagas').addEventListener('click', function() { removerVagas() }) 
                  </script>               
              </p>
            <% } %>
            </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-24">
    <a href="#meusdados" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Vai para o início</a>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="./js/notify.js"></script>  
  <script> 
    var lista_vagas_escolhidas = []
    const notify = new Notify();
    var estilo = '<%= (mensagem != null ? mensagem[0] : "") %>';
    var titulo = '<%= (mensagem != null ? mensagem[1] : "") %>';
    var mensagem = '<%= (mensagem != null ? mensagem[2] : "") %>';
    if (mensagem != '') {
        notify.render({
        head: titulo,
        style: estilo,
        content: mensagem
      });
    }

    function loadFunction() {    
      let vagas_escolhidas = '<%= vagas_escolhidas %>'
      let vaga_sorteada = '<%= vaga_sorteada %>'
      //alert(configuracao);
      if(vagas_escolhidas != '') {
        document.getElementById('_vagas_escolhidas').value = vagas_escolhidas.replaceAll(',',', ');
        document.getElementById('pvagas_escolhidas').innerHTML = document.getElementById('_vagas_escolhidas').value;
        if(vaga_sorteada == '') {
          vagas_escolhidas = vagas_escolhidas.split(',');
          vagas_escolhidas.forEach(vaga => {
              unidadeClicada(vaga, false)
          });
        }  
      }
    }
    window.onload = loadFunction();

    function unidadeClicada(valor, clicou) {  
      var posicao = lista_vagas_escolhidas.indexOf(valor);
      if (posicao > -1) {
        document.getElementById(valor+'c').style.background = "#F2F2F2";
        document.getElementById(valor+'t').style.color = "#000000";
        lista_vagas_escolhidas.splice(posicao,1);
      } else {
        document.getElementById(valor+'c').style.background = "#008000";
        document.getElementById(valor+'t').style.color = "#FFFFFF";
        lista_vagas_escolhidas.push(valor);
        //lista_vagas_escolhidas.sort();
      }
      var lista_unidades = document.getElementById("vagas_escolhidas");
      var sequencia_lista_unidades = document.getElementById("sequencia_vagas_escolhidas");      
      lista_unidades.value = lista_vagas_escolhidas;
      sequencia_lista_unidades.value = lista_vagas_escolhidas.toString().replace(/,/gi, ', ');
      document.getElementById('pvagas_escolhidas').innerHTML = sequencia_lista_unidades.value;
      if(clicou) {
        const notify = new Notify();
        notify.render({
          head: "atenção!",
          style: "warning",
          content: "Confirme as vagas através do botão [<i class='fa fa-paper-plane'></i> ENVIAR]"
        });
      }
    }

    function abreSubsolo(subsolo) { 
      var i;
      var x = document.getElementsByClassName("subsolo");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      x = document.getElementsByClassName("aba-subsolo");
      for (i = 0; i < x.length; i++) {
        x[i].classList.remove("aba-subsolo-foco"); 
      }    
      var element = document.getElementById(subsolo+"b");
      element.classList.add("aba-subsolo-foco");
      if(subsolo == 'S1' || subsolo == 'S2') {
        document.getElementById(subsolo).style.display = "grid";  
      } else {
        document.getElementById(subsolo).style.display = "block";  
      }   
    }

    function removerVagas() {
      document.getElementById("form1").vagas_escolhidas.value = "";
      document.getElementById("form1").submit();      
    }
  </script>
  <script src="./js/script.js"></script>    
</body>
</html>