<!DOCTYPE html>
<html>
<head>
<title>Sorteio de vagas de estacionamento do Condomínio Grandlife Ipiranga</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="./css/style.css" rel='stylesheet' type='text/css' />
<link href='./css/notify.min.css' rel='stylesheet' type='text/css' />
<link href='./css/sticky.css' rel='stylesheet' type='text/css' />
<link rel="icon" type="image/png" href="./images/sve.png">
</head>
<body>
<%- include('navbar.ejs') %>

<!-- Form Section -->
<div class="w3-container w3-light-grey" style="padding:78px 16px;" id="sorteio">
    <div style="padding: 10px; box-shadow: 0 3px 18px 8px rgb(38 24 24 / 25%);">
      <h3 class="w3-center">Sorteio das vagas</h3>
      <% if(resultado_sorteio == 'Sorteio não realizado') { %>
        <p class="w3-center w3-medium">Antes de executar o sorteio confirme se todos fizeram suas escolhas.<br/>
        Clicando <span class="fa fa-hand-pointer-o icon-hand-pointer"></span> na unidade é possível atualizar a presença ou ausência no sorteio.</p>
      <% } %>        
      <div style="margin-top:28px; width: 90%; margin: auto;">
        <div>
            <form action="/sorteio" method="POST">
              <% if(resultado_sorteio != 'Sorteio não realizado') { %>
                <p><label class="w3-label">Último sorteio</label>
                <input class="w3-input w3-border" type="text" name="ultimo_sorteio" value="<%= ultimo_sorteio %>" disabled></p>
                <p><label class="w3-label">Resultado</label>
                <input class="w3-input w3-border" type="text" name="resultado" value="<%= resultado_sorteio %>" disabled></p>
                <div>
                  <div class="w3-bar" >
                    <input id="S1b" type="button" class="aba-subsolo aba-subsolo-foco" value="Torre 1">
                    <input id="S2b" type="button" class="aba-subsolo" value="Torre 2">
                    <input id="S3b" type="button" class="aba-subsolo" value="Mapa S1">
                    <input id="S4b" type="button" class="aba-subsolo" value="Mapa S2">
                    <script>
                      document.getElementById('S1b').addEventListener('click', function() { abreSubsolo('S1') })                      
                      document.getElementById('S2b').addEventListener('click', function() { abreSubsolo('S2') })                      
                      document.getElementById('S3b').addEventListener('click', function() { abreSubsolo('S3') })                      
                      document.getElementById('S4b').addEventListener('click', function() { abreSubsolo('S4') })                      
                    </script>
                  </div> 
                  <div id="S1" class="cards-sorteio subsolo w3-border">  
                      <% lista_vagas_sorteadas.forEach(function(row) { %>                          
                          <% if (row.unidade.substring(0,2) == 'T1' ) { %>
                            <div class="card-sorteio">
                              <span style="font-weight: bold;">
                                <%- row.unidade.substring(2) %>
                              </span>-
                              <%- row.vaga_sorteada %>
                            </div>
                          <% } %>
                      <% }) %>
                  </div>
                  <div id="S2" class="cards-sorteio subsolo w3-border" style="display:none">                     
                    <% lista_vagas_sorteadas.forEach(function(row) {
                        if (row.unidade.substring(0,2) == 'T2' ) { %>
                          <div class="card-sorteio">
                            <span style="font-weight: bold;">
                              <%- row.unidade.substring(2) %>
                            </span>-
                            <%- row.vaga_sorteada %>
                          </div>
                        <% } %>
                    <% }) %>
                  </div>
                  <div id="S3" class="subsolo" style="display:none"> 
                    <img src="../images/subsolo1.jpg" width="100%">
                  </div>
                  <div id="S4" class="subsolo" style="display:none"> 
                    <img src="../images/subsolo2.jpg" width="100%">
                  </div>
                </div>
                <label class="w3-label">Formato: Unidade - Subsolo - vaga</label>                
              <% } else { %>
              <div>
                <div class="w3-bar" >
                  <input id="S1b" type="button" class="aba-subsolo aba-subsolo-foco" value="Torre 1">
                  <input id="S2b" type="button" class="aba-subsolo" value="Torre 2">
                  <input id="S3b" type="button" class="aba-subsolo" value="Mapa S1">
                  <input id="S4b" type="button" class="aba-subsolo" value="Mapa S2">
                  <script>
                    document.getElementById('S1b').addEventListener('click', function() { abreSubsolo('S1') })                      
                    document.getElementById('S2b').addEventListener('click', function() { abreSubsolo('S2') })                      
                    document.getElementById('S3b').addEventListener('click', function() { abreSubsolo('S3') })                      
                    document.getElementById('S4b').addEventListener('click', function() { abreSubsolo('S4') })                      
                  </script>
                </div> 
                <div id="S1" class="cards-sorteio-vagas subsolo w3-border">  
                    <% lista_vagas_sorteadas.forEach(function(row) { %>                          
                        <% if (row.unidade.substring(0,2) == 'T1' ) { %>
                          <div class="card-sorteio-vagas" id="<%- row.unidade %>u">
                            <span style="font-weight: bold;">
                              <%- row.unidade.substring(2) %> - <span id="<%- row.unidade %>-icon"></span> -
                              <% if (row.user_id != null) { %>
                                <span class="fa fa-user icon-color-ok"></span>
                              <% } else { %>
                                <span class="fa fa-user icon-color-no-ok"></span>
                              <% } %>
                            </span>- 
                            <% if(row.vagas_escolhidas != null) { 
                                  let vagas = []
                                  row.vagas_escolhidas.forEach(function(item) {
                                    vagas.push(item.vaga)
                                  })
                            %>                              
                                <%- '('+vagas.toString().replace(/,/gi, ', ')+')' %>                                
                            <% } else { %>
                              Sem escolhas
                            <% } %>                            
                          </div>
                        <% } %>
                    <% }) %>
                </div>
                <div id="S2" class="cards-sorteio-vagas subsolo w3-border" style="display:none">                     
                  <% lista_vagas_sorteadas.forEach(function(row) {
                      if (row.unidade.substring(0,2) == 'T2' ) { %>
                        <div class="card-sorteio-vagas" id="<%- row.unidade %>u">
                          <span style="font-weight: bold;">
                            <%- row.unidade.substring(2) %> - <span id="<%- row.unidade %>-icon"></span> -
                            <% if (row.user_id != null) { %>
                              <span class="fa fa-user icon-color-ok"></span>
                            <% } else { %>
                              <span class="fa fa-user icon-color-no-ok"></span>
                            <% } %>
                          </span>- 
                          <% if(row.vagas_escolhidas != null) { 
                                let vagas = []
                                row.vagas_escolhidas.forEach(function(item) {
                                  vagas.push(item.vaga)
                                })              
                          %>                              
                              <%- '('+vagas.toString().replace(/,/gi, ', ')+')' %>
                          <% } else { %>
                            Sem escolhas
                          <% }%>
                        </div>
                      <% } %>
                  <% }) %>
                </div>
                <div id="S3" class="subsolo" style="display:none"> 
                  <img src="../images/subsolo1.jpg" width="100%">
                </div>
                <div id="S4" class="subsolo" style="display:none"> 
                  <img src="../images/subsolo2.jpg" width="100%">
                </div>
              </div>
              <label class="w3-label">
                Formato: Unidade (<i class="fa fa-check icon-color-ok"></i> Presente / 
                <i class="fa fa-remove icon-color-no-ok"></i> Ausente) - Usuário Registrado 
                (<i class="fa fa-user icon-color-ok"></i> Sim / <i class="fa fa-user icon-color-no-ok"></i> Não) 
                - Vagas escolhidas
              </label> 
            <% } %>
              <p>
                <% if(resultado_sorteio == 'Sorteio não realizado') { %>
                  <button class="w3-button w3-black" type="submit">
                      <i class="fa fa-paper-plane"></i> SORTEAR
                  </button> 
                <% } else { %>               
                  <button id="btnReiniciar" class="w3-button w3-black" type="button">
                    <i class="fa fa-paper-plane"></i> REINICIAR SORTEIO
                  </button>
                  <script>
                    document.getElementById("btnReiniciar").addEventListener('click', 
                      function() { window.open("/sorteio/reiniciar","_self") })                    
                  </script>
              <% } %>
              </p>
            </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-24">
    <a href="#sorteio" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Vai para o início</a>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="./js/notify.js"></script>  
  <script>   
    var lista_vagas_sorteadas = '<%= lista_vagas_sorteadas %>'
    var lista_presenca = '<%= lista_presenca %>'.split(',')
    var lista_presenca_vagas = []
    var resultado_sorteio = '<%= resultado_sorteio %>'

    const notify = new Notify();
    var estilo = '<%= (mensagem != null ? mensagem[0] : "") %>';
    var titulo = '<%= (mensagem != null ? mensagem[1] : "") %>';
    var mensagem = '<%= (mensagem != null ? mensagem[2] : "") %>';
    if (mensagem != '') {
        notify.render({
        head: titulo,
        style: estilo,
        content: mensagem
      });
    }

    // atualiza as unidades com o status de presença gravado no banco de dados
    function loadFunction() { 
      if(resultado_sorteio == 'Sorteio não realizado') {
        for(var i=0; i<lista_presenca.length; i++) {
          let unidade = lista_presenca[i].split('-')[0]
          if (lista_presenca[i].split('-')[1] == 'true') {
            document.getElementById(unidade+'-icon').innerHTML = '<i class="fa fa-check icon-color-ok"></i>'
            lista_presenca_vagas.push(unidade)
          } else {
            document.getElementById(unidade+'-icon').innerHTML = '<i class="fa fa-remove icon-color-no-ok"></i>'
          }
          document.getElementById(unidade+'u').addEventListener('click', function() { unidadeClicada(unidade) })
        }  
      }
    }
    window.onload = loadFunction();

    function unidadeClicada(valor) {  
      var posicao = lista_presenca_vagas.indexOf(valor);
      if (posicao > -1) {
        $(document).ready(function(){
          $(document).ajaxError(function(e, xhr, opt) {
            notify.render({
              head: 'Atenção!',
              style: 'error',
              content: xhr.responseJSON.message
            })
          });
          $.post("/unidades/atualiza_presenca",
            {
              "unidade": valor,
              "presente": "false"
            },
            function(data,status){
              document.getElementById(valor+'-icon').innerHTML = '<i class="fa fa-remove icon-color-no-ok"></i>';
              lista_presenca_vagas.splice(posicao,1);
              if( data.status == 'success') {
                notify.render({
                  head: 'Informação',
                  style: 'warning',
                  content: 'Unidade '+valor+' não está presente!'
                });
              } else {
                notify.render({
                  head: 'Atenção',
                  style: 'error',
                  content: 'Unidade '+valor+'. Erro: '+data.message
                });
              }
            }
          );
        });    
      } else {
        let i = -1
        for(i=0; i<lista_vagas_sorteadas.length; i++) {
          if (lista_vagas_sorteadas[i].unidade == valor) {
            break
          }
        }
        if (i > -1) {
          $(document).ready(function(){
            $(document).ajaxError(function(e, xhr, opt) {
              notify.render({
                head: 'Atenção!',
                style: 'error',
                content: xhr.responseJSON.message
              })
            });
            $.post("/unidades/atualiza_presenca",
              {
                "unidade": valor,
                "presente": "true"
              },
              function(data,status){
                document.getElementById(valor+'-icon').innerHTML = '<i class="fa fa-check icon-color-ok"></i>';
                lista_presenca_vagas.push(valor);
                if( data.status == 'success') {
                  notify.render({
                    head: 'Informação',
                    style: 'success',
                    content: 'Unidade '+valor+' está presente!'
                  });
                } else {
                  notify.render({
                    head: 'Atenção',
                    style: 'error',
                    content: 'Unidade '+valor+'. Erro: '+data.message
                  });
                }
              }
            );
          });
        }
      }
    }

    function abreSubsolo(subsolo) { 
      var i;
      var x = document.getElementsByClassName("subsolo");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      x = document.getElementsByClassName("aba-subsolo");
      for (i = 0; i < x.length; i++) {
        x[i].classList.remove("aba-subsolo-foco"); 
      }    
      var element = document.getElementById(subsolo+"b");
      element.classList.add("aba-subsolo-foco");
      if(subsolo == 'S1' || subsolo == 'S2') {
        document.getElementById(subsolo).style.display = "grid";  
      } else {
        document.getElementById(subsolo).style.display = "block";  
      }   
    }

  </script>
  <script src="./js/script.js"></script>
</body>
</html>
  